---
layout: default
---
<div class="home">
  <section class="site-header">
    <h1 class="smallcap"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <p>Keep study, Keey dream. 记录想法与技术的地方.</p>
  </section>

  {% assign rawcategories = "" %}
  {% for post in site.posts %}
  {% assign tcategories = post.categories | join:'|' | append:'|' %}
  {% assign rawcategories = rawcategories | append:tcategories %}
  {% endfor %}
  {% assign rawcategories = rawcategories | split:'|' | sort %}

  {% assign categories = "" %}
  {% for tag in rawcategories %}
  {% if tag != "" %}
  {% if categories == "" %}
  {% assign categories = tag | split:'|' %}
  {% endif %}
  {% unless categories contains tag %}
  {% assign categories = categories | join:'|' | append:'|' | append:tag | split:'|' %}
  {% endunless %}
  {% endif %}
  {% endfor %}

  <section class="post-list-contaienr">
    {% for category in categories %}
    <h3 class="tag-title" id="{{ tag | slugify }}">{{ category }}</h3>
    <ul class="post-list">
      {% for post in site.posts %}
      {% if post.categories contains category %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y %b %d"}}
        </time>
        &raquo;
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </section>

  <div class="footer">
    <div class="contact">
      <p>
        {{ site.title }}
        imbatang@gmail.com | imbatang@126.com
      </p>
    </div>

    <div class="contact">
      <p>
        <a href="https://github.com/TangXiaoLv/">github.com/Blog</a><br/>
      </p>
    </div>
  </div>

</div>
