---
layout: default
---
<div class="home">
    <section class="site-header">
        <h1 class="smallcap"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
        <p>Keep study Keey dream. 记录想法与技术的地方.</p>

    </section>
    <section>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d,
                    %Y" }}
                </time>
            </li>
            {% endfor %}
        </ul>
    </section>

    <!-- new -->
    {% assign rawcategories = "" %}
    {% for post in site.posts %}
    {% assign tcategories = post.categories | join:'|' | append:'|' %}
    {% assign rawcategories = rawcategories | append:tcategories %}
    {% endfor %}
    {% assign rawcategories = rawcategories | split:'|' | sort %}

    {% assign categories = "" %}
    {% for tag in rawcategories %}
    {% if tag != "" %}
    {% if categories == "" %}
    {% assign categories = tag | split:'|' %}
    {% endif %}
    {% unless categories contains tag %}
    {% assign categories = categories | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
    {% endif %}
    {% endfor %}

    <section>
        {% for category in categories %}
        <h3 class="tag-title" id="{{ tag | slugify }}">{{ category }}</h3>
        <ul class="post-list">
            {% for post in site.posts %}
            {% if post.categories contains category %}
            <li>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d,
                    %Y" >> }}
                </time>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
    </section>

    <!-- old -->
    <section>
        {% for category in site.categories %}
        {% assign c = category | first %}
        {% assign posts = category | last %}

        <div id="category-{{ c | replace: ' ', '_' }}">{{ c }}</div>
        <ul class="post-list">
            {% for post in posts %}
            {% if post.categories contains c %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
    </section>

    <div>
        <p>ithub:<a href="https://github.com/TangXiaoLv">https://github.com/TangXiaoLv</a></p>
        <p>email:imbatang@gmail.com | imbatang@126.com</p>
    </div>
</div>
