---
layout: default
---
<div class="home">
	<section class="site-header">
		<h1 class="smallcap"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
		<p><b>Keep study Keey dream.</b> 记录想法与技术的地方.</p>
		<p>Github:<a href="https://github.com/TangXiaoLv">https://github.com/TangXiaoLv</a></p>
		<p>Email:imbatang@gmail.com | imbatang@126.com</p>
	</section>
	<section>
		<ul class="post-list">
			{% for post in site.posts %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
			</li>
			{% endfor %}
		</ul>
	</section>

<section>
		{% for category in site.categories %}
			{% assign t = category | first %}
			{% assign posts = category | last %}

		<div id="category-{{ t | replace: ' ', '_' }}">{{ t }}</div>
		<ul>
		{% for post in posts %}
			{% if post.categories contains t %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				<span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
		{% endfor %}
</section>
</div>
